define(['angular', #foreach($module in $modules)'/${module}/js/module.js',#end], function(ng) {
  'use strict';

  var appModule = ng.module('demo.app', ['ngRoute', #foreach($module in $modules)'${module}.app',#end], [
    '$locationProvider', '$routeProvider',
    function($locationProvider, $routeProvider) {
      //$locationProvider.html5Mode(true);
      $routeProvider.otherwise({redirectTo: '/curriculum'});
    }
  ]);

  return appModule;
});